{% extends 'layout.html' %}
{% block title %} Account erstellen {% endblock %}
{% block content %}
<center>
<font color="black">
    <p> <i> <h1> Herzlich Willkommen auf </h1> <h2 class="logo">le <span>WEB </span>de la <span>SYS</span></h2>
    <h3> Schön, dass sie hier sind. </i>  </p>
        Wir sind Sebastian, Donjeta, Onur, Daniel & Cemre. <br>
        Ein junges dynamisches Team und die Gründer dieser Seite. <br>
        Auf dieser Seite könnt Ihr ganz entspannt von zu Hause aus eure Reservierungen tätigen. <br>
        Das Beste daran ist, dass Ihr jederzeit eine Reservierung durchführen und eure Reservierung auch wieder aufheben könnt.</h3>

</font>
    <img src="../static/Platzhalter Mann.jpeg" width="100" height="150">
    <img src="../static/Platzhalter Frau.jpeg" width="100" height="150">
    <img src="../static/Platzhalter Mann.jpeg" width="100" height="150">
    <img src="../static/Platzhalter Frau.jpeg" width="100" height="150">
    <img src="../static/Platzhalter Mann.jpeg" width="100" height="150">

</center>

</p>
{% endblock %}