{% extends 'layout.html' %}
{% block title %} Account erstellen {% endblock %}
{% block content %}
    <center>
        <font color="black">
            <p>
                <i>
            <h1><font color="black"> Herzlich Willkommen auf </font></h1>
            <h2 class="logo">la <span>WEB </span>de la <span>SYS</span></h2>
            <h3> Schön, dass Sie hier sind. </i>  </p>
                Wir sind Sebastian, Donjeta, Onur, Daniel & Cemre. <br>
                Ein junges, dynamisches Team und die Gründer dieser Seite. <br><br>
                Auf dieser Seite können Sie ganz entspannt von zu Hause aus Ihre Reservierungen tätigen. <br>
                Das Beste daran ist, dass Sie jederzeit eine Reservierung durchführen und Ihre Reservierungen auch wieder
                aufheben könnt.</h3>

    </center>

    </p>
{% endblock %}