{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Tisch bearbeiten</h2>
        <form method="POST">
            <div class="form-group">
                <label for="capacity">Kapazität:</label>
                <input type="number" class="form-control" id="capacity" name="capacity"
                       value="{{ daten.capacity }}" min="1" max="20"
                       required>
            </div>

            <button type="submit" class="btn btn-primary">Ändern</button>
        </form>
    </div>
<br><br>
{% endblock %}