{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Kontakformular</h2>
        <form method="POST">
            <div class="form-group">
                <select name="art" class="form-control">
                    <option value="Allgemeine Frage">Allgemeine Frage</option>
                    <option value="Frage zum Konto">Frage zum Konto</option>
                    <option value="Frage zur Reservierung">Frage zur Reservierung</option>
                </select>
            </div>
            <div class="form-group">
                <label for="text">Vor- und Nachname</label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Vor- und Nachnamen eingeben" required>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="E-Mail eingeben" required>
            </div>
            <div class="form-group">
                <label for="text">Inhalt</label>
                <input type="text" class="form-control" id="text" name="text"
                       placeholder="Inhalt eingeben" required>
            </div>
            <button type="submit" class="btn btn-primary">Abschicken</button>
        </form>
    </div>
    <br><br>
{% endblock %}