{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Tische hinzufügen</h2>
        <form method="POST">
            <div class="form-group">
                <label for="id">Nummer festlegen:</label>
                <input type="number" class="form-control" id="id" name="id"
                       placeholder="Nummer eingeben"
                       required min="1">
            </div>
            <div class="form-group">
                <label for="capacity">Kapazität festlegen (zwischen 1 und 20):</label>
                <input type="number" class="form-control" id="capacity" name="capacity"
                       placeholder="Kapazität eingeben" required min="1" max="20">
            </div>
            <button type="submit" class="btn btn-primary">Tisch anlegen</button>
        </form>
    </div>
{% endblock %}