{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Reservierung entfernen</h2>
        <form method="POST">
            <div class="form-group">
                <input type="number" class="form-control" id="id" name="id"
                       placeholder="Reservierungs ID eingeben"
                       required min="1">
            </div>
            <button type="submit" class="btn btn-primary">Reservierung entfernen</button>
        </form>
    </div>

{% endblock %}