{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Hilfe</h2>
        <h3>Mein Konto</h3>
        <div class="form-group">
            <h4><b>Wie kann ich mich einloggen?</b></h4>
            <p>Auf unserer Seite oben rechts auf <a href="/login">"Anmelden"</a> klicken und Ihren Benutzernamen und
                Ihr Passwort eingeben.</p>
            <h4><b>Wie kann ich mich registrieren?</b></h4>
            <p>Auf unserer Seite oben rechts auf <a href="/sign-up">"Registrieren"</a> klicken und
                Ihren Namen, Ihre E-Mail Adresse und Ihr Passwort eingeben.</p>
            <h4><b>Wo kann ich meine Kundendaten einsehen?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben rechts unter <a href="/account">"Konto"</a> können
                Sie Ihre Kundendaten einsehen.</p>
            <h4><b>Wie kann ich meine Nutzerdaten ändern?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben rechts unter <a href="/account">"Konto"</a> auf
                <a href="/userdata">"bearbeiten"</a> klicken und die Nutzerdaten bearbeiten.</p>
            <h4><b>Wie kann ich mein Passwort ändern?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben rechts unter <a href="/account">"Konto"</a> auf
                <a href="/changepassword">"Passwort ändern"</a> klicken und das Passwort ändern.</p>
            <h4><b>Wie kann ich mein Konto löschen?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben rechts auf <a href="/account">"Konto"</a> klicken und
                auf "Kontolöschung beantragen" klicken. Wir kümmern uns um den Rest.</p>
        </div>
        <br>
        <h3>Meine Reservierungen</h3>
        <div class="form-group">
            <h4><b>Wie kann ich eine Reservierung tätigen?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben links auf <a href="/home">"Deine Reservierungen"</a> klicken;
                <br>Personenanzahl, Startdatum & -uhrzeit, sowie Enddatum & -uhrzeit festlegen und auf
                "Tisch reservieren" klicken</p>
            <h4><b>Wo kann ich meine Reservierungen einsehen?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben links auf <a href="/home">"Deine Reservierungen"</a> klicken
                und getätigte Reservierungen einsehen.</p>
            <h4><b>Wie kann ich meine Reservierung bearbeiten?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben links auf <a href="/home">"Deine Reservierungen"</a> klicken
                und bei der zu bearbeitenden Reservierung links auf "Bearbeiten" klicken.</p>
            <h4><b>Wie kann ich meine Reservierung löschen?</b></h4>
            <p>Nach der Anmeldung auf unserer Seite oben links auf <a href="/home">"Deine Reservierungen"</a> klicken
                und zu entfernende Reservierungen in den Checkboxen auswählen und auf "Stornieren" klicken.</p>
            <h4><b>Kann ich mehrere Reservierungen tätigen?</b></h4>
            <p>Ja, Sie können bei uns beliebig viele Reservierungen tätigen.</p>
            </div>
        <br>
        <h3>La Web de la Sys</h3>
        <div class="form-group">
            <h4><b>Wie lange haben wir geöffnet?</b></h4>
            <p>Unser Restaurant hat täglich Montag bis Sonntag von 18 Uhr bis 24 Uhr offen.</p>
            <h4><b>Wo sind unsere Standorte?</b></h4>
            <p>Aktuell haben wir nur ein Standort in Heilbronn im K3. <br>
                Wir können jedoch mit Freude verkünden, dass weitere Restaurants für unsere Kunden in Planung sind!</p>
        </div>
    </div>

{% endblock %}