{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <form method="POST" action="/deleteres">
        <div class="container">
            <h3>Deine Reservierungen <a href="{{ url_for('deletereservation') }}">stornieren</a></h3>
            <table class="table">
                <tr class="bg-gradient">
                    <th>Reservierungs ID</th>
                    <th>Startzeit</th>
                    <th>Endzeit</th>
                    <th>Personenanzahl</th>
                    <th>Tisch ID</th>
                    <th><input type="submit" value="Stornieren" class="btn btn-primary"></th>
                    <th></th>
                </tr>
                {% for reservierung in reservierungdaten %}
                    <tr id="{{ reservierung.id }}">
                        <td>
                            {{ reservierung.id }}
                        </td>
                        <td>
                            {{ reservierung.starttime }}
                        </td>
                        <td>
                            {{ reservierung.endtime }}
                        </td>
                        <td>
                            {{ reservierung.capacity }}
                        </td>
                        <td>
                            {{ reservierung.tableid }}
                        </td>

                        <td>
                            <input type="checkbox" name="checkbox" value="{{ reservierung.id }}"/>
                        </td>
                        <td>
                            <a href="{{ url_for('changereservation') }}">Bearbeiten</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>

    <div class="container">
        <h2>Reservierung hinzufügen</h2>
        <form method="POST">
            <div class="form-group">
                <label for="capacity">Personenanzahl:</label>
                <input type="number" class="form-control" id="capacity" name="capacity"
                       placeholder="Personenanzahl festlegen" min="1" max="20">
            </div>
            <!--
            <div class="form-group">
                <label for="date">Datum:</label>
                <input type="date" class="form-control" id="date" name="date"
                       placeholder="Datum auswählen">
            </div>
            -->
            <div class="form-group">
                <label for="starttime">Uhrzeit von: (Öffnungszeiten: Montag bis Sonntag 18 bis 0 Uhr)</label>
                <input type="datetime-local" class="form-control" id="starttime" name="starttime"
                       placeholder="Start-Uhrzeit auswählen" min="18:00" max="00:00">
            </div>
            <div class="form-group">
                <label for="endtime">Uhrzeit bis: (maximal 2 Stunden)</label>
                <input type="datetime-local" class="form-control" id="endtime" name="endtime"
                       placeholder="End-Uhrzeit auswählen" min="18:00" max="00:00">
            </div>
            <!--
            <div class="form-group">
                        <label for="dauer">Aufenthaltsdauer: </label>
                        <select name="dauer" id="dauer">
                        <option value="1">30 Minuten</option>
                        <option value="2">45 Minuten</option>
                        <option value="3">1 Stunde</option>
                        <option value="4">1 Stunde 30 Minuten</option>
                        <option value="5">2 Stunden</option>
                        </select>
            </div>
            -->
            <button type="submit" class="btn btn-primary">Tisch reservieren</button>
        </form>
    </div>
{% endblock %}