{% extends 'layout.html' %}

{% block content %}
    <center>
    <i>
    <br>
    <h3> Willkommen auf der Startseite. </h3>
    <h4> Auf dieser Seite können Sie Tisch-Reservierungen durchführen oder eine bereits vorhandene Reservierung
        bearbeiten, beziehungsweise löschen. <br>
    Um eine Tisch-Reservierung durchzuführen, registrieren Sie sich oder melden Sie sich bitte an,
        falls Sie bereits ein Konto besitzen. </h4>
        <a href="{{ url_for('login') }}">Direkt hier anmelden!</a>
        <br>
        <br>
        <img src="../static/Bild1.jpg" width="653,9" height="367,8">
        <img src="../static/Bild2.jpg" width="520,0" height="367,8">
    <br>
    </i>
    </center>
{% endblock %}

