{% extends 'layout.html' %}
{% block content %}


    <form method="POST">
        <h1>Login</h1>

        <label for="benutzername">Benutzername</label>
        <input type="benutzername" class="form-control" id="benutzername" name="benutzername" placeholder="Benutzername eingeben" required>

        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" name="password"
               placeholder="Passwort eingeben" required>
        <button type="submit">Anmelden</button>

        <a href="{{ url_for('sign_up') }}">Sie haben noch kein Konto? Hier registrieren!</a>
    </form>



{% endblock %}