{% extends 'layout.html' %}
{% block content %}


    <br>
    <form method="POST">
        <div align="center" class="form-group">
            <label for="email">Email Addresse</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Gib deine Email ein" required>
        </div>
        <div align="center" class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Gib dein Passwort ein" required>
            <br>
            <button type="submit">Abschicken</button>
        </div>
    </form>

{% endblock %}