{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <h2>Passwort zurücksetzen</h2>
        <p>Bitte geben Sie die E-Mail ein, mit der Sie sich registriert haben.
            Sie bekommen einen Link per E-Mail, womit Sie Ihr Passwort zurücksetzen können.
        <br> Bitte beachten Sie, dass der Link nur 2 Minuten gültig ist.</p>
        <form method="POST">
            <div class="form-group">
                <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="E-Mail eingeben" required>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Abschicken</button>
        </form>
    </div>
    <br><br>
{% endblock %}